.Arrow:hover{
    -fx-stroke: #0730b3;
}
#shapesActive{
    -fx-stroke: #c31371;
}

.Label{
    -fx-min-width: 50px;
    -fx-min-height: 25px;
}
.GridPanel{
    -fx-padding: 10px;
}
#titre .label {
    -fx-alignment: center;
    -fx-font-size: 25px;
    -fx-font: 900;
    -fx-fill-height: true;
    -fx-fill-width: true;
}
#titre{
    -fx-background-color: #8fadff;
    -fx-alignment: center;

}